@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  color: black;
  transform: scale(1.1);
}

.mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }
}
